.aside .logo a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}

.aside .logo a::after {
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
}

.contact .contact-info-item .icon .fa,
.blog .blog-item .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controlls .prev-item .fa,
.lightbox .lightbox-controlls .next-item .fa,
.portfilio .portfilio-item .portfilio-info .icon .fa,
.portfilio .portfilio-filter button.active,
.service .service-itme .service-itme-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #ec1839;
}

.blog .blog-item .blog-item-inner .blog-img .blog-date,
.service .service-itme .service-itme-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skil-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
    background-color: #ec1839;
}

.portfilio .portfilio-filter button.active {
    border-color: #ec1839;
}